* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #B8DDFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    color: #333333;
    background-color:#F7DF1E;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.header h1 a{
    text-decoration: none;
}

.header__nav{
    width: 800px;
    margin: auto 0;
}

.header__nav ul{
    display: flex;
    justify-content: space-around;

}

.header__nav ul li{
    list-style: none;
}

.header__nav ul li a {
    text-decoration: none;
    color: #0084FF;
    font-weight: 600;
}

.header__nav ul li a:hover{
    text-decoration: none;
    color: #3279BD;
    font-weight: 600;
    background-color: rgb(255, 255, 255,.6);
    padding: 10px;
    border-radius: 10px;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.form{
    width: 40%;
    max-width: 390px;
    height: auto;
    margin: 30px auto 0 auto;
    padding: 30px;
    border-radius: 20px;
}

.form__icono{
    display: block;
    text-align: center;
    font-size: 90px;
    width: 100%;
    margin-bottom: 20px;
}

.ventana01 {
    background-color: #FFD2D2;
}

.ventana01__icono{
    color: #FF8A8A;
}

.ventana02 {
    background-color: #FFE7C4;
}

.ventana02__icono{
    color: #FFC166;
}

.ventana03 {
    background-color: #D5D4F5;
}

.ventana03__icono{
    color: #9693E6;
}

.titulos{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.titulos--ventana01{
    color: #FF8A8A;
}

.titulos--ventana02{
    color: #FFC166;
}

.titulos--ventana03{
    color: #9693E6;
}

.form-input{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.form-input__input{
    display: block;
    width: 100%;
    padding: 10px 0 10px 15px;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
    border-radius: 10px;
    outline: none;
    border: 2px solid #B8DDFF;
}

.form-input__button{
    width: 50%;
    padding: 10px 0;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    background-color: #0084FF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.form-input__button:hover{
    background-color: white;
    color: #0084FF;
}

.respuesta{
    width: 70%;
    display: block;
    text-align: center;
    font-weight: 400;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto 15px auto;
}

.respuesta--ventana01{
    color:#9E5D5D;
}

.respuesta--ventana02{
    color:#A68454;
}

.respuesta--ventana03{
    color:#6775BB;
}

.header__nav--activo a{
    background-color: rgb(255, 255, 255,.6);
    padding: 10px;
    border-radius: 10px;
}

.main{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
}

.button-principal{
    width: 100%;
    text-decoration: none;
    padding: 20px;
    margin-left: 15px;
    display:flex;
    justify-content: center;
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
}

.color-button-01{
    background-color: #FFD2D2;
    color: #FF8A8A;
}

.color-button-01:hover{
    background-color: #FF8A8A;
    color: #FFD2D2;
}

.color-button-02{
    background-color: #FFE7C4;
    color: #FFC166;
}

.color-button-02:hover{
    background-color: #FFC166;
    color: #FFE7C4;
}

.color-button-03{
    background-color: #D5D4F5;
    color: #9693E6;
}

.color-button-03:hover{
    background-color: #9693E6;
    color: #D5D4F5;
}

.construccion{
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {

    .form{
        width: 30%;
    }

    .main{
        flex-direction: column;
    }

    .button-principal{
        margin-bottom: 15px;
    }

  }


@media only screen and (max-width: 1000px) {

    .form{
        width: 95%;
    }

    .contenedor{
        flex-direction: column;
    }

    .header__nav{
        display: none;
    }

    .construccion{
        width: 90%;
    }


  }