* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F9FAFC;
  font-size: 2.5rem;
}

body.dark {
  background-color: #252526;
}

.header {
  background-color: #F9FAFC;
  -webkit-box-shadow: 0px 2px 4px 0px #D7CDCD;
  box-shadow: 0px 2px 4px 0px #D7CDCD;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark .header {
  background-color: #333333;
  -webkit-box-shadow: 0px 2px 4px 0px #3a3a3a;
  box-shadow: 0px 2px 4px 0px #3f3f3f;
}

.header__logo {
  text-decoration: none;
  color: #747474;
  font-weight: bold;
}

body.dark .header__logo {
  color: white;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background-color: #F9FAFC;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
  left: 100%;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

body.dark .header__menu {
  background-color: #333333;
}

.header .menu-item {
  font-size: 1.8rem;
  margin: 0 10px;
  line-height: 70px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header .menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  color: #8C62AA;
  text-decoration: none;
}

body.dark .header .menu-link {
  color: white;
}

.header .menu-link:hover, .header .menu-link_active {
  background: none;
  background-color: #F7CB15;
  border-radius: 15px;
  padding: 10px 25px;
}

body.dark .header .menu-link:hover, body.dark .header .menu-link_active {
  background-color: #329171;
}

.header .nav-toggle {
  width: 40px;
  height: 40px;
  color: #747474;
  font-size: 20px;
  background-color: #F9FAFC;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

body.dark .header .nav-toggle {
  color: white;
  background-color: #252526;
}

.nav-toggle:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

body.dark .nav-toggle:hover {
  background-color: rgba(225, 225, 225, 0.2);
}

.nav-menu_visible {
  left: 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardform {
  background-color: white;
  width: 85%;
  margin: 0 auto;
  border-left: 9px solid #F7CB15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 4px 0px #D7CDCD;
  box-shadow: 0px 2px 4px 0px #D7CDCD;
  padding: 25px;
  text-align: center;
  max-width: 300px;
  margin-bottom: 30px;
}

body.dark .cardform {
  background-color: #333333;
  -webkit-box-shadow: 0px 2px 4px 0px #3f3e3e;
  box-shadow: 0px 2px 4px 0px #302f2f;
  border-left: 9px solid #329171;
}

.cardform__title {
  color: #8C62AA;
  font-size: 1.8rem;
  text-align: center;
}

body.dark .cardform__title {
  color: white;
}

.cardform__label {
  color: #8C62AA;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  display: block;
  margin: 15px 0;
}

body.dark .cardform__label {
  color: white;
}

.cardform__input {
  border: 2px solid #8C62AA;
  color: #8C62AA;
  height: 40px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  outline: none;
  padding: 0 15px;
  width: 168px;
}

.cardform__input:focus {
  border: 2px solid #F7CB15;
}

body.dark .cardform__input:focus {
  border: 2px solid #252526;
}

.cardform__button {
  background-color: #F7CB15;
  border: solid 2px #8C62AA;
  color: #8C62AA;
  height: 40px;
  width: 168px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto;
  font-weight: 700;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

body.dark .cardform__button {
  background-color: #252526;
  border: solid 2px #333333;
  color: white;
}

.cardform__button i {
  font-size: 25px;
}

.cardform__button span {
  width: 100%;
  text-align: center;
}

.cardform__button:hover {
  color: #F9FAFC;
  background-color: #8C62AA;
}

body.dark .cardform__button:hover {
  background-color: #333333;
  border: solid 2px #252526;
}

.cardform__button:active {
  background-color: #F7CB15;
  color: #8C62AA;
}

body.dark .cardform__button:active {
  background-color: #252526;
  border: solid 2px #333333;
}

.cardform__resultado {
  border: solid 2px #8C62AA;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  outline: none;
  padding: 10px 15px;
  color: #8C62AA;
}

.footer {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  background-color: #F7CB15;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body.dark .footer {
  background-color: #333333;
}

.footer__logo {
  color: #8C62AA;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
}

body.dark .footer__logo {
  color: white;
}

.footer__iconos {
  color: #8C62AA;
  font-size: 30px;
}

body.dark .footer__iconos {
  color: white;
}

.menu-right {
  display: none;
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

body.dark .encabezado {
  background-color: #252526;
}

.encabezado h1 {
  font-size: 3rem;
  color: #8C62AA;
}

body.dark .encabezado h1 {
  color: white;
}

.encabezado i {
  display: none;
}

.button-principal {
  background-color: #F7CB15;
  border: solid 2px #8C62AA;
  color: #8C62AA;
  height: 50px;
  text-decoration: none;
  width: 80%;
  border-radius: 15px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto;
  font-weight: 700;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

body.dark .button-principal {
  background-color: #333333;
  border: solid 2px #252526;
  color: white;
}

.button-principal i {
  font-size: 25px;
}

.button-principal span {
  width: 100%;
  text-align: center;
}

.button-principal:hover {
  color: #F9FAFC;
  background-color: #8C62AA;
}

body.dark .button-principal:hover {
  background-color: #252526;
  color: white;
}

.button-principal:active {
  background-color: #F7CB15;
  color: #8C62AA;
}

body.dark .button-principal:active {
  background-color: #252526;
  color: white;
}

.titulo-principal {
  width: 80%;
  text-align: center;
}

.footer-principal {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.cardinfo {
  background-color: #EEEBF2;
  border-radius: 15px;
  padding: 25px;
  max-width: 320px;
  font-size: 1.5rem;
  width: 85%;
  margin-bottom: 10px;
}

body.dark .cardinfo {
  background-color: #333333;
}

.cardinfo__title {
  font-size: 1.5rem;
  color: #8C62AA;
  margin-bottom: 20px;
}

body.dark .cardinfo__title {
  color: #8d8a8a;
}

.cardinfo p {
  color: #949298;
}

body.dark .cardinfo p {
  color: #8b8a8a;
}

.switch {
  background-color: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #333333;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: white;
}

.button-cambio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 15px auto;
  width: 93%;
}

@media only screen and (min-width: 900px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 85%;
    margin: 0 auto;
  }
  .cardform {
    max-width: 320px;
    margin: 0;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .active-menu {
    background-color: #F7CB15;
    border-radius: 15px;
  }
  body.dark .active-menu {
    background-color: #252526;
  }
  .menu-right {
    display: block;
    height: 100vh;
    width: 25%;
    padding: 15px 15px 15px 24px;
    background-color: white;
  }
  body.dark .menu-right {
    background-color: #333333;
  }
  .menu-right__titulo {
    font-size: 3rem;
    color: #8C62AA;
    margin-top: 70px;
  }
  body.dark .menu-right__titulo {
    color: white;
  }
  .menu-right__nav {
    width: 100%;
    margin-top: 80px;
  }
  .menu-right__nav ul li {
    list-style: none;
    height: 65px;
    font-size: 18px;
    line-height: 65px;
    padding: 0 5px;
    cursor: pointer;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 15px;
  }
  .menu-right__nav ul li:hover {
    background-color: #F7CB15;
    border-radius: 15px;
    color: #8C62AA;
  }
  body.dark .menu-right__nav ul li:hover {
    background-color: #252526;
    color: white;
  }
  .menu-right__nav ul li i {
    margin-right: 20px;
    color: #8C62AA;
  }
  body.dark .menu-right__nav ul li i {
    color: white;
  }
  .menu-right__nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #747474;
  }
  body.dark .menu-right__nav ul li a {
    color: white;
  }
  .menu-right__copiryght {
    background-color: #F9FAFC;
    border-radius: 15px;
    height: 200px;
    margin-top: 15px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.dark .menu-right__copiryght {
    background-color: #252526;
  }
  .menu-right__copiryght h2 {
    color: #8C62AA;
    font-size: 20px;
    margin: 15px 0;
  }
  body.dark .menu-right__copiryght h2 {
    color: white;
  }
  .menu-right__copiryght--iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .menu-right__copiryght--iconos a {
    text-decoration: none;
    color: #8C62AA;
  }
  body.dark .menu-right__copiryght--iconos a {
    color: white;
  }
  .menu-right__copiryght--iconos a:hover {
    color: #76BED0;
  }
  body.dark .menu-right__copiryght--iconos a:hover {
    color: #727171;
  }
  .menu-right__copiryght--iconos i {
    font-size: 50px;
  }
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 85%;
    margin: 0 auto;
  }
  .cardform {
    max-width: 320px;
    margin: 0;
  }
  .principal {
    width: 80%;
  }
  .encabezado {
    background-color: white;
    height: 196px;
    width: 93%;
    margin: 30px auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 4px 0px #D7CDCD;
    box-shadow: 0px 2px 4px 0px #D7CDCD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 50px;
  }
  body.dark .encabezado {
    background-color: #333333;
    -webkit-box-shadow: 0px 2px 4px 0px #363636;
    box-shadow: 0px 2px 4px 0px #313131;
  }
  .encabezado h1 {
    text-align: left;
    font-size: 3rem;
  }
  .encabezado i {
    display: block;
    font-size: 100px;
    color: #8C62AA;
  }
  body.dark .encabezado i {
    color: white;
  }
  .cardinfo {
    background-color: #EEEBF2;
    border-radius: 15px;
    padding: 25px;
    max-width: 320px;
    font-size: 1.5rem;
    width: 85%;
  }
  .cardinfo__title {
    font-size: 1.5rem;
    color: #8C62AA;
    margin-bottom: 20px;
  }
  .cardinfo p {
    color: #949298;
  }
}
